.containerPrivacy {
    background-color: white;
    border-radius: 20px;
    padding: 25px 25px; 
}

.containerPrivacy p {
    margin: 0;
    text-align: justify;
}

.nameService {
    height: 300px;
    background-color: #5479ED;
    border-radius: 20px;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}