.containerProfiles {
    height: 560px;
    background-color: white;
    border-radius: 20px;
    padding: 25px 25px;
}

.formEditProfileError {
    margin-top: 5px;
    color: tomato;
}

.imageAvatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #67cadf;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 5px;
    margin: 10px 50px 25px 10px;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
