.headerRight {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.userMenuContainer {
    width: 242px;
}

@keyframes highlight {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: #e6e6e6;
    }

    100% {
        background-color: #f2f2f2;
    }
}

.toolBar {
    padding: 30px;
}

.input {
    width: 300px;
    border-radius: 15px;
}